* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ========================================================== 
                        common css end 
=============================================================*/



.banner_btn {
    background-color: #ff5f15;
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.banner_btn::after {
    top: 0px;
    width: 0px;
    left: auto;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    content: "";
    position: absolute;
    background-color: #002052;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.banner_btn:hover:after {
    left: 0;
    width: 100%;
    right: auto;
}

.banner_btn:hover {
    color: #fff;
}

.banner_btn_2nd {
    color: #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 2px;
    border: 1px solid #fff;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.banner_btn_2nd::after {
    top: 0px;
    width: 0px;
    left: auto;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    content: "";
    position: absolute;
    background-color: #002052;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.banner_btn_2nd:hover:after {
    left: 0;
    width: 100%;
    right: auto;
}

.banner_btn_2nd:hover {
    color: #fff;
    border: 1px solid #002052;
}


.service_title h4 {
    font-size: 13px;
    font-weight: 600;
    color: #f21860;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service_title h2 {
    font-size: 38px;
    font-weight: 600;
    color: #000;
    margin-bottom: 60px;
}

.service_title h2 span {
    display: block;
}





/* ========================================================== 
                        pricing part start 
=============================================================*/
#pricing_part{
    padding: 100px 0;
}

.price_text{
    padding: 85px 40px 100px 40px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.1);
    position: relative;
}

.price_text h4{
    font-size: 18px;
    font-weight: 700;
    padding: 16px 45px;
    background: #2583e3;
    display: inline-block;
    color: #fff;
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.price_text h4::before {
	position: absolute;
	content: '';
	height: 15px;
	width: 10px;
	background-color: #2583e3;
	left: -10px;
	top: 0;
	clip-path: polygon(100% 0,0% 100%,100% 100%);
}

.price_text h4::after {
	position: absolute;
	content: '';
	height: 15px;
	width: 10px;
	background-color: #2583e3;
	right: -10px;
	top: -1px;
	clip-path: polygon(0 0,0% 100%,100% 100%);
}

.price_text h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 11px;
}

.price_text p {
	font-size: 12px;
	text-align: center;
	color: #545758;
	position: relative;
	padding-bottom: 25px;
}

.price_text p::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    background: url(../images/border-shape-2.png);
    width: 100%;
    height: 2px;
}

.price_text ul{
    margin-top: 50px;
}

.price_text ul li {
	font-size: 12px;
	color: #545758;
	margin-bottom: 20px;
}

.price_text ul li i{
    font-size: 15px;
    margin-right: 20px;
    color: #1dce49;
}

.price_btn{
    margin-top: 25px;
    background: #2583e3;
}

.price_btn::after {
    top: 0px;
    width: 0px;
    left: auto;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    content: "";
    position: absolute;
    background-color: #ff5f15;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.price_btn:hover:after {
    left: 0;
    width: 100%;
    right: auto;
}

.banner_btn:hover {
    color: #fff;
}

.price_text .overly{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 85px 40px 60px 40px;
}

.price_text .overly ul li{
    color: #fff;
}

.price_text .overly p{
    color: #fff;
}

.price_text .overly H2{
    color: #fff;
}

.price_text .overly h4{
    color: #fff;
    background: #ff5f15;
}

.price_text .overly h4::after{
    background: #ff5f15;
}

.price_text .overly h4::before{
    background: #ff5f15;
}

.price_text img{
    height: 630px;
}

.price_mid_btn{
    margin-top: 25px;
}

.price_btn {
	margin-top: 20px;
	position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
}


/* ========================================================== 
                        pricing part end 
=============================================================*/

